body {
  padding-top: 50px;
  margin-top: 10px;
}

div.kirjoitus {
    border-bottom: 1px solid #000000;
    padding: 5px;
}

div.kirjoitus a {
    padding-left: 10px;
    font-weight: bold;
}

#kommentit {
    padding-top: 10px;
}

h3 {
    font-weight: bold;
}